:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
  --gradient-background:linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 66px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #322f65;
  border: 1px solid var(--primary-color);
  background:white
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 412px){
h1{
  font-size: 47px;
  margin: 10px;
}
h2{
  font-size: 38px;
margin-bottom: 10px;
}
.primary-link{
  border-radius: 4px;
  padding: 3px 5px;
  box-shadow: 2px 1px 3px 5px rgba(0, 0, 0, 0.2);
}
}

@media(min-width: 756px) {
.email-link{
  color: rgb(13, 7, 129);
  margin: 20px;
}
body{
  background: var(--gradient-background);
}
}

@media (max-width: 576px){
 body {
 background: var(--background);
 }
 h1{
  color: rgb(34, 4, 4);
  margin-bottom: 10px;
  font-size: 40px;
 }
 h3{
  color: #04021e;
 }
img{
  margin-bottom: 15px;
}
p, .about-paragraphs{
  border: 2px solid rgb(253, 251, 251);
  font-weight: 100px;
  color: rgb(10, 1, 1);
  box-shadow: var(--box-shadow);
}
.email-link{
  color:rgb(36, 7, 63);
  font-size: 28px;
}
h2,.call{
  font-size: 28px;
  color: rgb(249, 226, 191);
}
}
